.hcalendar-holiday, .hcalendar-day-with-events {
    text-decoration: underline;
}

.hcalendar-top-button {
    opacity: .5; /* for future compatibility! */
}

.calendar-nonwork-day {
    font-weight: bold;
}

.hcalendar-day {
    font-size: 1em;
    width: 2em;
    height: 1.85em;
}

.hcalendar-date-label {
    padding: .4em 0;
    font-size: .8em;
}

.hcalendar-event-label {
    text-align: right;
    padding: 0;
    width: 150px; /* this should be useless, but when we have events, it fixes HEIGHT! */
}

.hcalendar-date-label:hover {
    background-color: rgba(128, 128, 128, .1);
}

.hcalendar-preferences-button {
    padding: 2px;
}

.hcalendar-preferences-button:hover {
    background-color: rgba(128, 128, 128, .1);
}

.hcalendar-rtl {
    direction: rtl;
}

.hcalendar-button {
    border-radius: 0 0 0 0;
    border: 1px solid black;
    padding: 5px;
    font-size: .9em;
}

.hcalendar-button.active {
    background-color: #bbb;
    color: #333;
}

.hcalendar-button.fromPersian {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.hcalendar-button.fromHijri {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.hcalendar-converter-box {
    padding: 5px 0;
}

.hcalendar-converter-entry {
    margin-left: 5px;
    margin-right: 5px;
}
